<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>your client id</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>write here your reversed cliend id</string>
	<key>API_KEY</key>
	<string>your api key</string>
	<key>GCM_SENDER_ID</key>
	<string>336819874250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>barisozgen.BowlShopSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>bowlshopswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>bowlshopswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:336819874250:ios:84be2f4229700bd5064733</string>
</dict>
</plist>
